
* {
    margin: 0px;
}

/* main area style */

.main,
.nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
}

.nav {
    height: 100px;
    align-items: center;
}

/* gameboard style */

.gameboard {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(3n+2){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
}
